<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.dant.vr" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignIn"
            android:label="@string/title_activity_sign_in" >
        </activity>
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".BasicToolBar"
            android:label="@string/title_activity_basic_tool_bar" >
        </activity>
        <activity
            android:name=".NewsFeed"
            android:label="@string/title_activity_news_feed" >
        </activity>
        <activity
            android:name=".BoxMessage"
            android:label="@string/title_activity_box_message" >
        </activity>
        <activity
            android:name=".Deposit"
            android:label="@string/title_activity_deposit" >
        </activity>
        <activity
            android:name=".SendMessage"
            android:label="@string/title_activity_send_message" >
        </activity>
        <activity
            android:name=".Contact"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".SendObject"
            android:label="@string/title_activity_send_object" >
        </activity>
        <activity
            android:name=".Apropos"
            android:label="@string/title_activity_apropos" >
        </activity>
    </application>

</manifest>
